
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:wght@100;300;400&display=swap');

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fdfdfd;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;

}


h1{
    color:#CD212A;
    

}

h2 {
    color: #ffffff;
    margin-top: 10px;
}

h3 {
    color:#CD212A;
    font-size: 65px;
    font-weight: 700;
}

h4{
    position: absolute;
    color: #ffffff;
    opacity: 100%;
    font-size: 90px;
    font-family: 'Lato', sans-serif ;
    font-weight: 900;
}



h5{
    font-style: italic;
    color: #ffffff;
    margin-top: 100px;
}


h6 {
    color:#CD212A;
    font-size: 12px;
    margin-left: 10px;
    font-weight: 400;
    font-style: italic;


}

p{
    font-size: 20px;
    font-weight: 300;
}

p1{
    color:#F4F9ff;
    font-size: 65px;
    font-weight: 700;
}

p2{
    color: #ffffff;
    margin-top: 10px;


}

p3{
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;

}



p{
    color: aliceblue;
    font-size: 14px;  
}





:root{
    --margin: 0px;
}




ul {
	--columns: 1;

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
 
}


figure.image-block{
    border-width: 2px;
}

figure.text-block{
    padding-left: 0px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 30px;
    
}



.video-embed-block{
    width: 200px;
    height: auto;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
  
}



p.link-title{
    color: #F4F9ff;
    font-size: 18px;
    font-weight: 300;
    line-height: 170%;
    text-decoration: underline;
    padding-top: 3px;

    
}








.image-block {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 10px;
    
    
}

.image{
    width: 150px;
    height: 220px;
    object-fit: cover;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    
    
}

.image:hover{
    transform: scale(1.25);
}


.imagesection{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 80px;
    background-color:#F4F9ff;
    
    
}


.linkssection{
    margin-top: 30px;
    margin-left: 30px;
    padding-bottom: 50px;




}
.videosection{
    padding-top: 30px;
    padding-bottom: 80px;
    background-color:#F4F9ff;

}

.notessection{
    margin-left: 30px;
    padding-bottom: 50px;
}




.embed {
    width: 100px;
    border-radius: 8px;
    margin-left: 30px;
}




.landing{
    background-color: #CD212A;
    width: 100vw;
    height: 100vh;
}

.landing-text{
    margin-top: 30px;
    margin-left: 30px;
    
}

.section1text{
    margin-top: 30px;
    margin-left: 30px;
}

.section2text{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.section3text{
    margin-top: 30px;
    margin-left: 30px;
}

.section4text{
    margin-top: 30px;
    margin-left: 30px;

}



.content1{
    background-color: #F4F9ff;
    width: 100vw;
    
    

}

.content2{
    background-color: #008c45;
    width: 100vw;

}

.content3{
    background-color: #F4F9ff;
    width: 100vw;

}

.content4{
    background-color: #CD212A;
    width: 100vw;

}

.background{
    background-color: rgb(15, 15, 15);
    padding: var(--margin);
    border-radius: 8px;
}






body,
section,
ul,
figure {
	display: grid;
	
}

	.image-blocks { --columns: 8; }
    .link-blocks { --columns: 1; }
    .video-embed-blocks { --columns: 3; }
    .text-blocks { --columns: 2; }


    .embedly-embed{
        width: 400px;
        height: 250px;
        border-radius: 6px;
 }


@media (max-width: 500px ) {

        
      
    .image-blocks { --columns: 3; }
    .link-blocks { --columns: 1; }
    .video-embed-blocks { --columns: 1; }
    .text-blocks { --columns: 1; }

    .image{
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 6px;
    }

    .landing-text{
            margin-top: 50px;
            margin-left: 10px;
            margin-right: 10px;
            
        }


        h1{
            padding-bottom: 30px;
           

        }

        p1{
        font-size: 30px;
        font-weight: 300px;
        padding-bottom: 10px;


      
        }

        p2{
            margin-top: 30px;
            padding-right: 60px;
            padding-bottom: 30px;
            width: 390px;

        }

        h2{
            margin-top: 30px;
            margin-left: 30px;
            margin-right: 30px;
            max-width: 390px;
  

        }


    h3{
        font-size: 30px;
        font-weight: 300px;
        margin-right: 30px;
        
    }

    h4{
    font-size: 45px;
    font-weight: 400;
    margin-left: 30px;
    max-width: 390px;
 
    }

    h5{
    margin-top: 110px;
    margin-left: 30px;
    max-width: 390px;
 

        }
h6{
    display: none;
}

p.link-title{
    font-size: 14px;
    margin-right: 17px;
}



.section1text{
    margin-top: 50px;
    margin-right: 10px;
}

.content2{
    max-width: 390px;
    
}

.linkssection{
    margin-left: 30px;
    margin-right: 30px;
    width: 330px;
}

.content3{
    max-width: 390px;
   
}



.videosection{
    width: 330px;
}

.section4text{
    width: 330px;

}

.section2text{
    width: 300px;

}

.section3text{
    width: 330px;

}
.section1text{
    width: 330px;

}

.notessection{
   width: 330px;
   margin-top: 30px;

}


.embedly-embed{
    width: 310px;
    height: 200px;
    border-radius: 6px;

}

.content4{
    max-width: 390px;
    
}

.content1{
    max-width: 390px;
    

}

figure.text-block{

    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
    
}

body{
    overflow-x: hidden;
}

}