
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:wght@100;300;400&display=swap');

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fdfdfd;
    padding: 0px;
    width: 100%;

}

h1{
    color:#CD212A;
    

}

h2 {
    color: #ffffff;
    margin-top: 10px;
}

h3 {
    color:#CD212A;
    font-size: 65px;
    font-weight: 700;
}

h4{
    position: absolute;
    color: #ffffff;
    opacity: 100%;
    font-size: 90px;
    font-family: 'Lato', sans-serif ;
    font-weight: 900;
}



h5{
    font-style: italic;
    color: #ffffff;
    margin-top: 100px;
}


h6 {
    color:#CD212A;
    font-size: 12px;
    margin-left: 10px;
    font-weight: 400;
    font-style: italic;


}

p{
    font-size: 20px;
    font-weight: 300;
    margin-right: 650px;
}

p1{
    color:#F4F9ff;
    font-size: 65px;
    font-weight: 700;
}

p2{
    color: #ffffff;
    margin-top: 10px;

}

p3{
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;

}



p{
    color: aliceblue;
    font-size: 20px;  
}





:root{
    --margin: 0px;
}




ul {
	--columns: 1;

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
 
}

figure.image-block{
    border-width: 2px;
}

figure.text-block{
    padding-top: 20px;
}

figure.link-block{
}

.video-embed-block{
    width: 200px;
    height: auto;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    grid-gap: 10px;
    padding: 10px;
  
}

p.link-title{
    color: #F4F9ff;
    font-size: 18px;
    font-weight: 300;
    line-height: 170%;
    text-decoration: underline
    
}



figure.text-block{

}



.image-block {
    align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 10px;
    
    
}

.image{
    width: 150px;
    height: 220px;
    object-fit: cover;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    
    
    
}

.imagesection{
    margin-left: 30px;
    padding-bottom: 80px;
    background-color:#F4F9ff;
    
}


.linkssection{
    margin-top: 0px;
    margin-left: 30px;
    padding-bottom: 50px;
    align-content: center;




}
.videosection{
    padding-bottom: 80px;
    background-color:#F4F9ff;
}

.notessection{
    margin-left: 30px;
    padding-bottom: 80px;
}




.embed {
    width: 100px;
    border-radius: 8px;
    margin-left: 30px;
}




.landing{
    background-color: #CD212A;
    width: 100vw;
    height: 100vh;
}

.landing-text{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 650px;
    
}

.section1text{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 650px;
}

.section2text{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 650px;
}

.section3text{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 650px;
}

.section4text{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 650px;
}



.content1{
    background-color: #F4F9ff;
    width: 100vw;
    height: 100vh;
    

}

.content2{
    background-color: #008c45;
    width: 100vw;
    height: 120vh;

}

.content3{
    background-color: #F4F9ff;
    width: 100vw;
    height: 100vh;

}

.content4{
    background-color: #CD212A;
    width: 100vw;
    height: 260vh;

}

.background{
    background-color: rgb(15, 15, 15);
    padding: var(--margin);
    border-radius: 8px;
}






body,
section,
ul,
figure {
	display: grid;
	
}

	.image-blocks { --columns: 8; }
    .link-blocks { --columns: 1; }
    .video-embed-blocks { --columns: 3; }
    .text-blocks { --columns: 1; }


@media (max-width: 400px ) {
    .image-blocks { --columns: 4; }
    .link-blocks { --columns: 1; }
    .video-embed-blocks { --columns: 1; }
    .text-blocks { --columns: 1; }

    .image{
        width: 120px;
        height: 120px;
        object-fit: cover;
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 6px;
        

}